.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: var(--gray-700);
  position: relative;
}


.form  {
  display: flex;
  flex-direction: row;

  width: 100%;
  max-width: 46rem;
  position: absolute;
  bottom: -1.5rem;
  gap: 0.5rem;
  margin: 3.312rem 0 auto;
  padding: 0 1rem;
}


.form input {
  width: 100%;
  height: 54px;
  border-radius: 8px;
  border: 1px solid var(--gray-500);
  font-size: 1rem;
  line-height: 1.4;
  padding: 0 1rem;
  background-color: var(--gray-500);
  color: var(--gray-100);
}

.form input::placeholder {
  color: var(--gray-300);
}


.form button {
  border: none;
  height: 54px;
  border-radius: 8px;
  color: var(--gray-100);
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.4;
  background-color: var(--blue-dark);
  cursor: pointer;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.1s;
}

.form button svg {
  margin-left: 0.5rem;
}
.form button:hover {
  background-color: var(--blue);
}

